[package]
name = "crowtty"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serialport = "4.0.1"

[dependencies.postcard]
version = "0.7.3"
features = ["use-std"]

[dependencies.serde]
version = "1.0"
features = ["derive"]
