[package]
name = "crowtty"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serialport = "4.0.1"

[dependencies.cobs]
version = "0.2"

[dependencies.serde]
version = "1.0"
features = ["derive"]

[dependencies.postcard]
version = "1"

[dependencies.tracing-serde-structured]
git = "https://github.com/hawkw/tracing-serde-structured"
branch = "eliza/tracing-02"
default-features = true