[workspace]
members = [
    # mnemOS source
    "source/kernel",
    "source/abi",
    "source/mstd",
    "source/spitebuf",
    "source/melpomene",

    # tools
    "tools/crowtty",
    "tools/dumbloader",
]

[patch.crates-io.maitake]
git = "https://github.com/hawkw/mycelium.git"
rev = "5e46e35cae131d5f60f527e6659dc53b18e30ebb"

[patch.crates-io.cordyceps]
git = "https://github.com/hawkw/mycelium.git"
rev = "5e46e35cae131d5f60f527e6659dc53b18e30ebb"

[patch.crates-io.mnemos-alloc]
git = "https://github.com/tosc-rs/mnemos-alloc"
rev = "3b1b16d7c04f312a27befb1f1f7691f5f63cfb47"
# path = "/home/james/tosc/mnemos-alloc"