[workspace]
members = [
    # mnemOS source
    "source/kernel",
    "source/abi",
    "source/mstd",
    "source/spitebuf",
    "source/melpomene",

    # tools
    "tools/crowtty",
    "tools/dumbloader",
]

[patch.crates-io.maitake]
git = "https://github.com/hawkw/mycelium.git"
rev = "23db951d19cf410e07ed4c2c47ead20d2b592d21"

[patch.crates-io.cordyceps]
git = "https://github.com/hawkw/mycelium.git"
rev = "23db951d19cf410e07ed4c2c47ead20d2b592d21"

[patch.crates-io.mnemos-alloc]
git = "https://github.com/tosc-rs/mnemos-alloc"
branch = "eliza/alloc-layout"
# path = "/home/james/tosc/mnemos-alloc"