[workspace]
members = [
    # mnemOS source
    "source/kernel",
    "source/abi",
    "source/mstd",
    "source/spitebuf",
    "source/melpomene",
    "source/alloc",
    "source/forth3",
    "source/mnemos-tracing",

    # tools
    "tools/crowtty",
    "tools/dumbloader",
    "tools/f3repl",
]

[patch.crates-io.maitake]
git = "https://github.com/hawkw/mycelium.git"
rev = "d2694a86c9c7b6a235cacd1f086823bc03d8e8fb"

[patch.crates-io.cordyceps]
git = "https://github.com/hawkw/mycelium.git"
rev = "d2694a86c9c7b6a235cacd1f086823bc03d8e8fb"

[patch.crates-io.mnemos-alloc]
path = "./source/alloc"
