[toolchain]
channel = "nightly-2023-10-28"
profile = "minimal"
components = [
    "clippy",
    "rustfmt",
    "rust-src",
    "llvm-tools-preview",
]
targets = [
    # Allwinner D1
    "riscv64imac-unknown-none-elf",
    # ESP32-C3
    "riscv32imac-unknown-none-elf",
    # x86_64
    "x86_64-unknown-none",
    # pomelo
    "wasm32-unknown-unknown",
]
