[package]
name = "mnemos"
version = "0.1.0"
description = "A tiny embedded operating system kernel"
repository = "https://github.com/jamesmunns/pellegrino"
authors = ["James Munns <james@onevariable.com>"]
edition = "2021"
readme = "./README.md"

categories = [
    "embedded",
    "no-std",
]
license = "MIT OR Apache-2.0"

[lib]
name = "kernel"

[dependencies]

[dependencies.futures]
version = "0.3.21"
default-features = false

[dependencies.uuid]
version = "1.1.2"
default-features = false
features = ["serde"]

[dependencies.cobs]
version = "0.2.3"
default-features = false

[dependencies.tracing-01]
package = "tracing"
version = "0.1.35"
default-features = false
optional = true

[dependencies.tracing-02]
package = "tracing"
git = "https://github.com/tokio-rs/tracing"
branch = "master"
features = ["attributes"]
default-features = false
optional = true

[dependencies.maitake]
version = "0.1.0"
default-features = false

[dependencies.spitebuf]
path = "../spitebuf"

[dependencies.mnemos-alloc]
version = "0.1.0"

[dependencies.heapless]
version = "0.7.10"
features = ["defmt-impl"]

[dependencies.mnemos-abi]
version = "0.1.0"
path = "../abi"
features = ["use-defmt"]

[dependencies.serde]
version = "1.0.136"
default-features = false
features = ["derive"]

[dependencies.postcard]
version = "1.0.1"
features = ["experimental-derive"]

[dependencies.embedded-graphics]
version = "0.7.1"

[dependencies.forth3]
path = "../forth3"
features = ["async"]

[dependencies.portable-atomic]
version = "1"

[features]
default = ["tracing-01"]

# If you pick this feature, you get tracing-01. It's
# a trap for --all-feature usage. This is a hack.
_oops_all_tracing_features = []
