# Melpomene configuration
#
# Required fields are defined below. Commented out items are the default
# values, uncomment to override the defaults.

[kernel]
max_drivers = 16
timer_granularity = { secs = 0, nanos = 1000 } # 1us

[services.keyboard_mux]
enabled = true
# max_keyboards = 8
# buffer_capacity = 32
sermux_port_enabled = true
# sermux_port = 2

[services.serial_mux]
enabled = true
# max_ports = 16
# max_frame = 512

[services.spawnulator]
enabled = true
# capacity = 16

[services.sermux_loopback]
enabled = true
# port = 0
# buffer_size = 128

[services.sermux_hello]
enabled = true
# port = 1
# buffer_size = 32
# message = "hello\r\n"
# interval =  { secs = 1, nanos = 0 }

[services.sermux_shell]
enabled = true

[platform]
# sleep_cap = { secs = 0, nanos = 100_000_000 } # 100ms

[platform.display]
enabled = true
# kchannel_depth = 2
# frames_per_second = 20
# scaling = 2

[platform.tcp_uart]
enabled = true
# socket_addr = "127.0.0.1:9999"
# incoming_size = 4096
# outgoing_size = 4096
# kchannel_depth = 2

[platform.forth_shell]
enabled = true
# capacity = 1024

# [platform.forth_shell.params]
# stack_size = 256
# input_buf_size = 256
# output_buf_size = 256
# dictionary_size = 4096
# stdin_capacity = 1024
# stdout_capacity = 1024
# bag_of_holding_capacity = 16
# spawnulator_timeout = { secs = 5, nanos = 0 }

